from pathlib import Path

# Enter the location of the KID 2 dataset here.
# 
# See https://mdss.uth.gr/datasets/endoscopy/kid/ to learn how you get access to the data.

KID_DATASET_PATH = Path("kid1_kid2/kid2/kid-dataset-2").expanduser()
